---
import {site} from "../consts";
---

<div class="footer container p-4">
  <div class="flex items-center flex-wrap justify-center mb-4 text-skin-base">
    <div class="text-center">
      <i class="ri-copyright-line align-middle"></i>
      <span class="align-middle">2024 {site.title} All Rights Reserved.</span>
      <p>Powered by <a class="hover:text-skin-active" href="https://github.com/cirry/astro-yi">astro-yi</a></p>
    </div>
  </div>
</div>

<style>
  .footer {
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>
