---
import PostViewTitle from '../components/PostViewTitle.astro'
const {blog} = Astro.props;
const {data, slug} = blog
---

<div class="shadow-lg rounded-xl p-4 grid grid-cols-12">
  <div class="col-span-11">
    <PostViewTitle
      slug={`/blog/${slug}`}
      {...data}
    >
    </PostViewTitle>
    <p class="break-all text-skin-base mb-2">
      {
        data.description ? data.description.substring(0,38) : ''
      }
    </p>
  </div>
  <div class="text-center col-span-1 bg-[rgba(40,50,66,0.5)]">
    <a class="hover:text-skin-active h-full flex justify-center items-center border-2 rounded text-3xl ri-arrow-right-wide-fill" href={`/blog/${slug}`}></a>
  </div>
</div>
